

.icon{
  cursor: pointer;
}

.table{
  background-color: #eeeef2;
  border: solid #eeeef2;
  border-radius: 0.4rem;
  width: 80%;
  border-width: 5px 5px 3px;
  border-spacing: 0 2px;
} 

.thead{
  text-align: left;
  padding: 1rem;
}
.thead th{
  padding: 0.4rem;
  font-size: 1rem;
}

.tbody tr{
  background-color: #fff;
}
.tbody tr td {
  padding: 0.4rem; 
  font-size: 0.9rem;
  font-weight: 500;
}

.tbody tr:first-child td:first-child { border-top-left-radius: 0.4rem; }
.tbody tr:first-child td:last-child { border-top-right-radius: 0.4rem; }
.tbody tr:last-child td:first-child { border-bottom-left-radius: 0.4rem; }
.tbody tr:last-child td:last-child { border-bottom-right-radius: 0.4rem; }

