.container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* border: 1.5px solid #d4d4d4; */
  /* border-radius: 0.4rem; */
  line-height: 1rem;
  margin-left:2.5%;
  width: 97.5%;
  margin-bottom: 0.8rem;
}
.box{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.4rem;
}
.lable{
  width: 5%;
  font-size: 1rem;
  font-weight: 600;
}

.checkbox{
  margin: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1.5px solid #d4d4d4;
  border-radius: 0.3rem;
  cursor: pointer;
}
/* need to modify */
.checkbox:checked{
  background-color: #d4d4d4;
  border: 1.5px solid #d4d4d4;
}
.tool{
  font-size: 0.9rem;
  font-weight: 600;
}
.checkWrapper{
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
