.header{
  font-size: 1.8rem;
  font-weight: 800;
  padding-bottom: 2rem;;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.box {
  display: flex;
  width: 80%;
  justify-content: space-between;
  background-color: #eeeef2;
  border-radius: 0.4rem;
  padding: 0.5rem;
  align-items: center;
}

.lable{
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.7rem;
}

.btn{
  cursor: pointer;
}

.collapseContainer{
  background-color: #eeeef2;
  width: 80%;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding: 0.5rem;
}

.open{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}