.container{
  width: min(65vw,1600px);
}
.header{
  font-size: 1.8rem;
  font-weight: 800;
  padding-bottom: 2rem;;
}
.status{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
}
.statusBox{
  display: flex;
  flex-direction: column;
}

.box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.collapseDiv{
  width:80%;
  margin: 0 auto;
}

.btn{
  /* background-color: #007bff; */
  background-color:transparent;
  font-size: 14px;
  /* color: white; */
  padding: 0 20px;
  height: 3rem;
  /* border-radius: 5px; */
  border: none;
}