.container{
  width: min(65vw,1600px);
}
.header{
  font-size: 1.8rem;
  font-weight: 800;
  padding-bottom: 2rem;;
}
.status{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
}
.statusBox{
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1.5px solid #d4d4d4;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  width: 10%;
}

.boxLable{
  font-size: 1rem;
  font-weight: 600;
} 

.lableStatus{
  font-size: 1.1rem;
  font-weight: 600;
}