.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn{
  background-color: #007bff;
  font-size: 14px;
  color: white;
  padding: 0 20px;
  height: 3rem;
  border-radius: 5px;
  border: none;
  margin: 0 8rem;
}
.btn:hover{
  cursor:pointer;
}